<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cvi.css')}}"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spectrum.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='spectrum.js')}}"></script>

<body>

<p></p>

<div id="spoiler"> <!-- hide/show element -->

<div class="slidecontainer">
  <label>Speed</label>
  <input type="range" min="50" max="200" value="125" class="slider" id="rangeSpeed">
</div>

<div class="slidecontainer">
  <label>Size</label>
  <input type="range" min="100" max="250" value="100" class="slider" id="rangeSize"> 
</div>

<div>
<label>Background color</label>
<input type='text' id="full2"/>
</div>

</body>

<script type="text/javascript" src="{{ url_for('static', filename='cvi.js')}}"></script>

<p></p>
<div id="figures">

<img src="{{ url_for('static', filename='shapes/square_red.png')}}" name='square_red' />
<img src="{{ url_for('static', filename='shapes/triangle_red.png')}}" name='triangle_red' />
<img src="{{ url_for('static', filename='shapes/circle_red.png')}}" name='circle_red' />
<br clear="all" />
<img src="{{ url_for('static', filename='shapes/square_yellow.png')}}" name='square_yellow' />
<img src="{{ url_for('static', filename='shapes/triangle_yellow.png')}}" name='triangle_yellow' />
<img src="{{ url_for('static', filename='shapes/circle_yellow.png')}}" name='circle_yellow' />
<br clear="all" />
<img src="{{ url_for('static', filename='shapes/square_green.png')}}" name='square_green' />
<img src="{{ url_for('static', filename='shapes/triangle_green.png')}}" name='triangle_green' />
<img src="{{ url_for('static', filename='shapes/circle_green.png')}}" name='circle_green' />
<br clear="all" />
<img src="{{ url_for('static', filename='shapes/square_blue.png')}}" name='square_blue' />
<img src="{{ url_for('static', filename='shapes/triangle_blue.png')}}" name='triangle_blue' />
<img src="{{ url_for('static', filename='shapes/circle_blue.png')}}" name='circle_blue' />
<br clear="all" />
<img src="{{ url_for('static', filename='shapes/square_grayscale.png')}}" name='square_grayscale' />
<img src="{{ url_for('static', filename='shapes/triangle_grayscale.png')}}" name='triangle_grayscale' />
<img src="{{ url_for('static', filename='shapes/circle_grayscale.png')}}" name='circle_grayscale' />

</div>
</div> <!-- hide/show element -->

<div>
<img src="{{ url_for('static', filename='shapes/blank.png')}}" id="anim_ball" style="position: absolute;" height="100" width="100"> 
</div>

<p></p>
<button id="tracking-toggle" onclick="startTracking()">Start tracking</button>

<script src="{{ url_for('static', filename='webgazer.js')}}" type="text/javascript"></script> <!-- webgazer.js -->
<script type="text/javascript">
// webgazer
// webgazer.setRegression('ridge') // currently must set regression and tracker
//             //.setTracker('clmtrackr')
//             .setGazeListener(function(data, clock) {
//                 if (data == null) {
//                     return;
//                 }
//                 // console.log(data); // data is an object containing an x and y key which are the x and y prediction coordinates
//                 // console.log(clock); // elapsed time in milliseconds since webgazer.begin() was called
//             })
//             .begin()
//             .showPredictionPoints(true);

// async function getPredictionKid() {
//     let prediction = await webgazer.getCurrentPrediction();
//         if (prediction) {
//             let gazeX = prediction.x;
//             let gazeY = prediction.y;
//             console.log("GAZE X: " + gazeX + ", GAZE Y: " + gazeY);

//             // POST logic (gaze)
//             fetch('/data', {
//                 method: 'POST',
//                 body: JSON.stringify({x: gazeX, y: gazeY, type: 'gaze'})
//             }).then(function (response) { // At this point, Flask has printed our JSON
//                 return response.text();
//             }).then(function (text) {
//                 // console.log('POST response: ');
//                 // Should be 'OK' if everything was successful
//                 // console.log(text);
//             });

//         }
//     }

// returns an object with x and y coordinates of the center of the element
function startTracking() {
  document.getElementById('spoiler').style.display = 'none' // hide customizations
  
    // POST logic
    fetch('/session', {
        method: 'POST',
        body: JSON.stringify({"greeting": "Hello from the browser!"})
    }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
    }).then(function (text) {
        // console.log('POST response: ');
        // Should be 'OK' if everything was successful
        // console.log(text);
    });

  getCoordinates = setInterval(function(){ 
    var element = $('#anim_ball');
    var centerX = element.offset().left + element.width()/2
    var centerY = element.offset().top + element.height()/2
    // getPredictionKid();
    console.log("X: " + centerX + ", Y: " + centerY)

    // POST logic (path)
    fetch('/data', {
        method: 'POST',
        body: JSON.stringify({x: centerX, y: centerY, type: 'path'})
    }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
    }).then(function (text) {
        // console.log('POST response: ');
        // Should be 'OK' if everything was successful
        // console.log(text);
    });
    ;}, 100);

  this.onclick = stopTracking;
  document.querySelector('#tracking-toggle').innerHTML = 'Stop tracking';
  console.clear()
  document.getElementById("anim_ball").src = location_picked.toString();
};

function stopTracking() {
  document.getElementById('spoiler').style.display = '' // show customizations
  clearInterval(getCoordinates)
  this.onclick = startTracking;
  document.querySelector('#tracking-toggle').innerHTML = 'Start tracking';
  document.getElementById("anim_ball").src = "{{ url_for('static', filename='shapes/blank.png')}}";
};

var el = document.getElementById("tracking-toggle"); 
el.onclick = startTracking;

</script>
