body {
    min-width:600px!important;
}

/* Video Feed Styling */
#overlay {
    z-index: 1;
}

/* Navbar styling */
#webgazerNavbar {
    left: 320px;
    z-index: 0;
    box-shadow: 0px 3px 5px #ddd;
    border:0px;
    background-color: #fff;
}

#Accuracy a{
    background-color: #222;
    color: #eee;
    left: -15px;
    padding-left: 80px;
    padding-right: 40px;
}
#Accuracy {
    background-color: #222;
    padding-left: inherit;
}

li {
    padding-left: 50px;
}
.navbar-right li {
    padding-right: 20px;
}

.helpBtn {
    padding: 15px;
    border: none;
    background: none;
    color: #777;
}
.helpBtn a {
    background: none;
    color: #777;
}
.helpBtn a:hover {
    color: black!important;
    text-decoration: none;
}
.modal-header {
    border-bottom: none!important;
}

/* Calibration button styling */
.Calibration{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.2;
    border-color: black;
    border-style: solid;
    position:fixed;
}

/* Calibration point position */
#Pt1{
    top: 70px;
    left:34vw;
}
#Pt2{
    top: 70px;
    left: 50vw;
}
#Pt3{
    top: 70px;
    left:66vw;
}
#Pt4{
    top: 70px;
    left: 82vw;
}
#Pt5{
    top: 70px;
    left:98vw;
}
/* ///////////////////////////// */
#Pt6{
    top: 190px;
    left: 26vw;
}
#Pt7{
    top: 190px;
    left: 42vw;
}
#Pt8{
    top: 190px;
    left: 58vw;
}
#Pt9{
    top: 190px;
    left:74vw;
}
#Pt10{
    top: 190px;
    left: 90vw;
}
/* ////////////////////////// */
#Pt11{
    top: 310px;
    left: 2vw;
}
#Pt12{
    top: 310px;
    left:18vw;
}
#Pt13{
    top: 310px;
    left: 34vw;
}
#Pt14{
    top: 310px;
    left: 50vw;
}
#Pt15{
    top: 310px;
    left: 66vw;
}
#Pt16{
    top: 310px;
    left: 82vw;
}
#Pt17{
    top: 310px;
    left: 98vw;
}
/* ///////////////////// */
#Pt18{
    top: 430px;
    left: 10vw;
}
#Pt19{
    top: 430px;
    left: 26vw;
}
#Pt20{
    top: 430px;
    left: 42vw;
}
#Pt21{
    top: 430px;
    left: 58vw;
}
#Pt22{
    top: 430px;
    left: 74vw;
}
#Pt23{
    top: 430px;
    left: 90vw;
}
/* #Pt4{
    top:50vh;
    left: 2vw;
}
#Pt5{
    top: 50vh;
    left: 50vw;
}
#Pt6{
    top: 50vh;
    right:2vw;
} */
#Pt24{
    bottom:2vw;
    left: 2vw;
}
#Pt25{
    bottom:2vw;
    left:18vw;
}
#Pt26{
    bottom:2vw;
    left:34vw;
}
#Pt27{
    bottom:2vw;
    left:50vw;
}
#Pt28{
    bottom:2vw;
    left:66vw;
}
#Pt29{
    bottom:2vw;
    left:82vw;
}
#Pt30{
    bottom:2vw;
    left:98vw;
}