<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spectrum.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='spectrum.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='cvi_app.js')}}"></script>
</head>

<!-- Bootstrap core CSS-->
<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

<body>

</body>

<a href="recommended"><button class='btn btn-light' id="tracking-toggle" style='font-family: Segoe UI, Avenir, sans-serif; margin-left: 15px; margin-top: 15px; border-color: transparent;'>Force Stop</button></a>

<!-- TIME OUT RECOMMENDED SESSION-->
<script>
  setTimeout(function() {
    window.location.href='recommended'
  }, 10000);
</script>

<div>
<img src="{{url_for('static', filename='images/shapes/square_red.png')}}" id="anim_ball" style="position: fixed;" height="200" width="200"> 
<!-- height = width; low = 100, medium = 175, high = 250 -->
<!-- shapes = square_red, triangle_red, circle_red, square_yellow, triangle_yellow, circle_yellow, square_green, triangle_green, circle_green, square_blue, triangle_blue, circle_blue, square_grayscale, triangle_grayscale, circle_grayscale -->
</div>

<script type="text/javascript">

// returns an object with x/y coordinates of the center of the element
// function startTracking() {
  setInterval(function(){ 
    var element = $('#anim_ball');
    var centerX = element.offset().left + element.width()/2;
    var centerY = element.offset().top + element.height()/2;
    console.log("X: " + centerX + ", Y: " + centerY);
  }, 100);
// };

</script>
